#MacOSX GitIgnores
.DS_Store?
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

#Windows GitIgnores
# Windows image file caches
Thumbs.dbdsfg
# Folder config file

#Ignore index.php for ads.yostivanich.com
index.php
